<nav class="py-4 w-full">
<ul class="menu bg-base-200 sm:menu-horizontal rounded-box">
  <li>
    <a class="btn" routerLink="by-capital" routerLinkActive="bg-orange-500">
      <i class="fa-solid fa-plane-up"></i>
      Por Capital
      
    </a>
  </li>
  <li>
    <a class="btn" routerLink="by-country" routerLinkActive="bg-orange-500">
     <i class="fa-solid fa-earth-americas"></i>
      Por Pais
    </a>
  </li>
  <li>
    <a class="btn" routerLink="by-region" routerLinkActive="bg-orange-500">
      <i class="fa-solid fa-earth-europe"></i>
      Por Region
    </a>
</li>
</ul>



</nav>