
<section class="mt-4">
    <table class="table table-md mt-2 w-full">
        <thead>
            <tr>
                <th>#</th>
                <th>Icono</th>
                <th>Bandera</th>
                <th>Nombre</th>
                <th>Capital</th>
                <th>Poblacion</th>
                <th></th>
            </tr>
        </thead>
        <tBody>
            @for (country of countries(); track country.cca2; let index = $index) {
                <tr>
                    <td>{{index + 1}}</td>
                    <td>{{country.flag}}</td>
                    <td>
                        <img src="{{country.FlagSvg}}" alt="{{country.name}}" class="w-10 h-10 rounded-full"/>
                    </td>
                    <td>{{country.name}}</td>
                    <td>{{country.capital}}</td>
                    <td>
                        <span class="badge badge-secondary"> {{country.population | number}} </span>
                    </td>
                    <td>
                        <a [routerLink] = "['/country/by' , country.name]"
                         class="btn btn-primary">Ver mas</a>
                    </td>
                </tr>
            }
            
            @if(errorMessage()){
                <tr>
                    <td colspan="8" class="text-center">
                        {{errorMessage()}}
                    </td>
                </tr>
            }

            @if(countries()?.length === 0 && !isLoading()) {
                <tr>
                    <td colspan="8" class="text-center">
                        No hay resultados
                    </td>
                </tr>
            }

            @if(isLoading()){
                <tr>
                    <td colspan="8" class="text-center">
                        Cargando...
                    </td>
                </tr>
            }
        </tBody>
    </table>
</section>